<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Blog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{url_for('user.user_list')}}">Авторы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                       href="{{url_for('article.articles_list')}}">Статьи</a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="btn btn-dark" aria-current="page" href="{{url_for('auth.logout')}}">Выйти</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>