{% extends 'base.html'%}
{% block title %}
{{ super() }}
User list
{% endblock %}
{% block body %}

<div class="row">
    <div class="col">
        <h1>Авторы</h1>
        {% for user in users %}
        <div class="card w-75 mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ user.first_name if user.first_name != None else ''}} {{ user.last_name if
                    user.last_name != None else ''}}</h5>
                <a href="{{url_for('users.get_user',pk=user.id)}}" class="btn btn-primary">Перейти</a>
            </div>
        </div>
        {% endfor%}

    </div>
</div>
{% endblock %}